<a href="@Url.Action("GioHang", "GioHang")" style="text-decoration:none; color:black"><span style="color: #090909;">GIỎ HÀNG</span>
    <img src="~/HinhThuCung/cart.png" width="30px" height="30px"  />(@ViewBag.TongSoLuong)
</a>
