
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

    

<h2 style="color:red">ĐẶT HÀNG THÀNH CÔNG</h2>
<div style="height:250px">
    <img class="slide-image" src="~/HinhThuCung/dấu-tích.png" alt="" style="height:250px;padding-left:630px">
</div>
<p>
    @Html.ActionLink("<< VỀ TRANG CHỦ", "Index", "KDThuCung")
</p>
<style >
    h2, .h2 {
        font-size: 30px;
        text-align: center;
    }

</style>


